1 VERSIONINFO
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Google Inc."
            VALUE "FileDescription",  "PDFium+REDSTORK extensions (compiled by github.com/innodatalabs)"
            VALUE "InternalName",     "redstork"
            VALUE "OriginalFilename", "redstork.dll"
            VALUE "ProductName",      "redstork"
            VALUE "LegalCopyright",   "Copyright 2020 PDFium Authors. All rights reserved."
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
